{
  "presets": ["babel-preset-expo"],
  "plugins": [
    "@babel/transform-react-jsx-source",
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@/*": "./src",
          "@_types/*": "./types"
        },
        "cwd": "babelrc"
      }
    ]
  ]
}
